html {
    scroll-behavior: smooth;
}

.project-detail {
    opacity: 1;
}

.detail-options {
    opacity: 0;
    transition: transform .2s;
    position: relative;
}

.tagline {
    position: absolute;
    top: 30%;
    left: 40%;
}

.details {
    background-color: white;
    opacity: 0;
    transition: transform .3s;
}

.contain:hover .detail-options {
    opacity: 1;
    transform: scale(1.5);
}

.contain:hover .project-detail {
    opacity: 0;
}

.contain:hover .details {
    background-color: white;
    opacity: 1;
    transform: linear;
}


.example {
    animation: anim 2s ease-in;
}

@keyframes anim {
    0% {
        margin-top: 300px;
    }

    100% {
        margin-top: 10px;
    }
}